/* 1024 */

@media (max-width: 1024px) {

    .section-we {
        &__slogan {
            font-size: 54px;
        }
    }

    .section-offer {
        grid-template-areas: "center";
        justify-content: center;
        grid-template-columns: 1fr;

        &__list {
            grid-area: center;
            align-items: center;
        }

        &__item {
            width: 100%;
            text-align: center;

            &-desc {
                justify-content: center;
            }
        }

        &__picture {
            grid-area: center;
            justify-self: center;
            opacity: .4;
        }
    }

    .section-promotion {
        &__desc {
            width: 70%;
        }
    }

    .section-inside {
        &:after {
            height: 450px;
        }

        &__txt {
            width: 80%;
        }
    }

    .section-contacts {
        grid-template-columns: 1fr minmax(auto, 550px);

        &__heading {

            &-contacts {
                margin-bottom: 20px;
                font-size: 35px;
            }

            &-question {
                margin-bottom: 20px;
                font-size: 35px;
            }
        }

        &__item {
            &-value {
                font-size: 18px;
            }
        }
    }
}

/* 860 */

@media (max-width: 860px) {
    .header-content {
        display: grid;
        grid-template-areas:
            "top top"
            "left right";
        grid-template-columns: 1fr minmax(auto, 159px);
        column-gap: 30px;
        row-gap: 10px;
        margin-bottom: 120px;

        &__logo {
            grid-area: top;
            justify-self: flex-start;
        }

        &__menu {
            grid-area: left;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        &__tel {
            grid-area: right;

        }
    }

    .section-advantages {
        &__item {
            grid-template-columns: 1fr 1fr;
        }

        &__item:nth-child(2) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .section-contacts {

        grid-template-areas:
            "top"
            "center-1"
            "center-2"
            "bottom";
        grid-template-columns: 1fr;

        &__shema {
            grid-area: center-1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }

        &__item {
            &-icon {
                align-self: center;
            }
        }

        &__heading {
            &-contacts {
                grid-area: top;
                margin-bottom: 0;
                line-height: 70px;
            }

            &-question {
                grid-area: center-2;
                margin-bottom: 0;
                line-height: 70px;
            }
        }

        &__form {
            grid-area: bottom;
        }

    }

}


/* 768 */

@media (max-width: 768px) {
    .section-we {
        &__slogan {
            font-size: 50px;
        }

        &__button {
            padding: 30px 40px;
        }
    }


    .section-advantages {
        &__heading {
            font-size: 30px;
            line-height: 60px;
        }
    }

    .section-contacts {
        &__form {
            &-button {
                padding: 30px 80px;
            }
        }
    }

    .footer-content {
        flex-direction: column;

        &__logo {
            margin-bottom: 20px;
        }

        &__social {
            margin-bottom: 100px;
        }
    }
}


/* 576 */

@media (max-width: 576px) {
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 86px;
    }

    .section-we {
        &__footer {
            flex-direction: column;
            align-items: flex-start;
        }

        &__button {
            margin-bottom: 20px;
        }

        &__social {
            &-item:nth-child(1) {
                margin-left: 0;
            }
        }
    }

    .section-promotion {
        &__heading {
            font-size: 30px;
        }

        &__slide {
            padding-top: 185px;
        }
    }

    .section-advantages {
        &__heading {
            font-size: 25px;
            line-height: 40px;
        }
    }

    .section-inside {
        &__heading {
            font-size: 40px;
        }
    }

    .section-contacts {
        &__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-item {
                width: 100%;
            }
        }

        &__item {
            grid-template-columns: 50px 1fr;

            &-icon {
                width: 50px;
                height: 50px;
            }
        }
    }
}

/* 480 */


@media (max-width: 480px) {
    .section-we {
        &__slogan {
            font-size: 45px;
        }

        &__openinghours {
            font-size: 22px;
        }
    }

    .section-promotion {
        &__slide {
            padding-top: 130px;
        }
    }

    .section-contacts {
        &__shema {
            grid-template-columns: 1fr;
        }

        &__item {
            &-value {
                font-size: 16px;
            }

            &-icon {
                width: 50px;
                height: 50px;
            }
        }

        &__heading {
            &-question {
                font-size: 28px;
            }

            &-contacts {
                font-size: 28px;
            }
        }
    }
}