.section-form {
    position: fixed;
    display: flex;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.6);
    transition: opacity 0.3s ease-in-out;

    &__heading {
        margin-bottom: 30px;
        font-family: $PoppinsBold, $fontStandart;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: $gold7F;
    }

    &__form {
        position: relative;
        width: 400px;
        padding: 20px 20px 50px 20px;
        background-color: $white;
    }

    &__item {
        position: relative;
        margin-bottom: 15px;
    }

    &__label {
        font-family: $PoppinsRegular, $fontStandart;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        color: $black;
    }

    &__error {
        &-label {
            position: absolute;
            top: -5px;
            left: 0;
            font-family: $PoppinsRegular, $fontStandart;
            font-weight: 500;
            font-size: 14x;
            line-height: 14px;
            color: $gold7F;
        }
    }

    &__input {
        font-family: $PoppinsRegular, $fontStandart;
        font-weight: 400;
        font-size: 15x;
        line-height: 40px;
        color: $gold7F;

        &::placeholder {
            font-family: $PoppinsRegular, $fontStandart;
            font-weight: 400;
            font-size: 15x;
            line-height: 40px;
            color: $grey-light;
        }
    }


    &__button {
        padding: 10px 40px;
        font-family: $PoppinsMedium, $fontStandart;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $white;
        background-color: $dark-blue74;
    }


}

.open {
    opacity: 1;
    z-index: 2;
}