$containerMaxWidth: 1208px;

/* fonts*/

$fontStandart: 'Arial, sans-serif';
$PoppinsRegular: 'Poppins-Regular';
$PoppinsBold: 'Poppins-Bold';
$PoppinsSemiBold: 'Poppins-SemiBold';
$PoppinsMedium: 'Poppins-Medium';

/* colors */

$white: #fff;
$black: #000;
$dark-blue74: #3A4574;
$gold7F: #D3B47F;
$greyE7: #E7E7E7;
$dark2E: #2E2E2E;
$grey80: #808080;
$grey-light: #CCCCCC;
$greyE5: #E5E5E5;